.kura {
	font-family: 'DejaVu Sans';
}

.kura a {
	color: green;
	font-weight: bold;
	text-decoration: none;
}

.kura a:hover {
	text-decoration: underline;
}

.kura .bgblue {
	background-color: blue;
}

.kura table {
	background-color: white;
	border-collapse: collapse;
}

.kura table td {
	background-color: white;
	text-align: center;
	border: 1px solid red;
	padding: 3px;
}

.kura .table-header {
	font-weight: bold;
}

.kura .interactive-cell td:hover{
	font-weight: bold;	
}

.kura .interactive-row tr:hover{
	background-color: red;
}

.kura .interactive-row td {
	background-color: none;
	font-weight: bold;
}
