
.articleman_ui {
	display: block;
}
.articleman_ui .header {
	width: 100%;
	border: 1px solid #6F6F6F;
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding: 5px;
	-moz-box-sizing: border-box;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	background-color: #9F9F9F;
	background-color: #7D9E05;
	background-color: #8BAF0A;
}

.articleman_ui .footer {
	width: 100%;
	border: 1px solid #6F6F6F;
	border-top-width: 0px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding: 5px;
	-moz-box-sizing: border-box;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	background-color: #7D9E05;
	background-color: #8BAF0A;
	background-color: #9F9F9F;
	background-color: #F0F0F0;
}

.articleman_ui .content {
	width: 100%;
	border: 1px solid #6F6F6F;
	background-color: #F0F0F0;
	border-top-width: 0px;
	-moz-box-sizing: border-box;
	color: #808080;
	font-weight: bold;
	overflow: auto;
}
.articleman_ui .content .toolbar {
	width: 100%;
	border-bottom: 1px solid #6F6F6F;
	padding: 5px;
	-moz-box-sizing: border-box;
	overflow: auto;
}

.articleman_ui .content .toolbar input {
	float: left;
	margin-right: 5px;
	width: 28px;
	text-align: center;
	font-size: 18px;
}

.articleman_ui .content .toolbar .nsec {
	margin-left: 15px;
}

.articleman_ui .title-bar {
	font-size: 30px;
	border-width: 0px;
	background-color: white;
	border-radius: 0px;
	width: 100%;
}

.articleman_ui .content .cleft {
	width: 180px;
	padding: 5px;
	-moz-box-sizing: border-box;
	float: left;
	overflow: auto;
}

.articleman_ui .content .cright {
	margin-left: 180px;
	display: block;
	border-left: 1px solid #6F6F6F;
}
.articleman_ui .content textarea {
	width: 100%;
	border-radius: 0px;
	border-width: 0px;
	min-height: 500px;
	font-size: 18px;
	font-family: courier;
}
