.glossary {
	color: #808080;
	overflow: auto;
	display: block;
}

.glossary .title {
	font-size: large;
}

.glossary .index {
	overflow: auto;
	width: 15%;
	text-align: center;
	float: left;
	margin-top: 20px;
}

.glossary .index a {
}
.glossary .index .cletter {
	overflow: auto;
	font-size: 70px;
}

.glossary .index .nletter {
	overflow: auto;
	font-size: large;
}

.glossary .term-container {
	overflow: auto;
	margin-left: 20%;
	font-size: normal;
	margin-top: 20px;
}

.glossary .term-container .add-term {
	margin-top: 50px;
}

.glossary .term-container .entry {
	margin-bottom: 30px;
}

.glossary .term-container .entry .term {
	font-size: xx-large;
	font-style: italic;
	font-weight: bold;
	color: #5084A7;
	vertical-align: bottom;
}

.glossary a {
	color: #5084A7;
}

.glossary .term-container .entry .meaning {
	margin-top: 10px;
	margin-left: 15px;
}

.glossary .discussion {
	color: #808080;
}

.glossary .discussion .header {
	color: #7D9E05;
	font-weight: bold;
	font-size: large;
	border-bottom: 1px solid #7D9E05;
	margin-top: 50px;
	margin-bottom: 15px;
	word-wrap: break-word;
}

.glossary .discussion .header-light {
	color: #C5DF8B;
	font-weight: bold;
	font-size: large;
	border-bottom: 1px solid #C5DF8B;
	margin-top: 50px;
	margin-bottom: 15px;
	word-wrap: break-word;
}
.glossary .discussion .header a {
	color: #7D9E05;
}

.glossary .discussion .header-light a {
	color: #C5DF8B;
}
