.umsg-surround {
	overflow: auto;
	padding: 5px;
	color: #808080;
}

.umsg-surround .tab-bar {
	overflow: auto;
	padding-left: 7px;
}

.umsg-surround .tab-bar .caption {
	color: #5084A7;
	float: right;
	padding-top: 3px;
	font-size: 20px;
	margin-right: 7px;
	font-weight: bold;
}

.umsg-surround .umsg-tab {
	float: left;
	background-color: white;
	border: 1px solid #808080;
	font-size: 20px;
	padding: 4px;
	height: 20px;
	z-index: 1;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #808080;
}


.umsg-surround .umsg-tab a {
	color: #808080 !important;
}

.umsg-surround .umsg-tab a:hover {
	color: #9F9F9F !important;
	text-decoration: none !important;
}

.umsg-content a:hover {
	color: #6FB2DF;
	text-decoration: none !important;
}
.umsg-surround .tsel {
	border-bottom-width: 0px;
	border-bottom-color: white;
}
.umsg-surround .tunsel {
	background-color: #D8D8D8;
	padding: 2px;
	margin-top: 3px;
}

.umsg-surround .rtab {
	margin-left: 5px;
}

/* main body */

.umsg-surround .umsg-content {
	margin-top: -1px;
	background-color: white;
	border: 1px solid #808080;
	clear: left;
	padding: 10px;
	position: relative;
	border-radius: 3px;
	z-index: 0;
	overflow: auto;
	height: auto;
	float: left;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.umsg-surround .umsg-content textarea {
	width: 100%;
	resize: vertical;
}

.umsg-content .umessage-toolbar {
	margin-bottom: 15px;
	position: relative;
	z-index: 0;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
}

.umsg-content .umessage-toolbar .message {
	color: #7D9E05;
	float: right;
	font-weight: bold;
}

.umsg-content a {
	font-weight: bold;
	color: #5084A7;
}


.umsg-content a:hover {
	color: #6FB2DF;
	text-decoration: none !important;
}
.umsg-content .umessage-container {
	margin-bottom: 30px;
	display: relative;
	float: left;
	clear: both;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
}

.umsg-content .umessage-container .avatar {
	float: left;
	width: 32px;
	height: 32px;
	display: relative;
}


.umsg-content .umessage-container .avatar img{
	width: 32px;
	height: 32px;
}
.umsg-content .umessage-container .username {
	font-weight: bold;
	margin-left: 45px;
}
.umsg-content .umessage-container .message {
	margin-left: 45px;
	display: relative;
}
