.tutor-container {
	display: block;
	padding: 5px;
}

.tutor-container a:hover {
	text-decoration: none;
}

.tutor-container .toolbar-container {
	border: 1px solid #909090;
	background-color: #EBEBEB;
	color: #909090;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tutor-container .toolbar-container .h-toolbar {
	overflow: auto;
	height: auto !important;
}

.tutor-container .toolbar-container .h-toolbar .h-title {
	font-weight: bold;
	margin: 5px;
	font-size: 18px;
	float: right;
}

.tutor-container .toolbar-container .h-toolbar .h-button {
	border-right: 1px solid #909090;
	padding: 7px;
	padding-left: 9px;
	padding-right: 9px;
	float: left;
	background-color: #dfdfdf;
	font-weight: bold;
	cursor: default;
}

.tutor-container .toolbar-container .h-toolbar .h-filter-collection {
	float: left;
	border-right: 1px solid #909090;
	overflow: auto;
	height: auto !important;
	padding-left: 7px;
	padding-right: 7px;
}
.tutor-container .toolbar-container .h-toolbar .h-filter-collection .h-filter {
	color: #909090;
	border: 1px solid #909090;
	margin: 5px;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	border-radius: 3px;
	cursor: default;
}

.tutor-container .toolbar-container .h-toolbar .h-label {
	font-size: 14px;
	margin: 5px;
	padding-top: 4px;
	float: left;
	margin-right: 0px;
	font-weight: bold;
}


.tutor-container .toolbar-container .h-toolbar .h-filter:hover {
	//background-color: white;
}

.tutor-container .toolbar-container .h-toolbar .h-filter-selected {
	background-color: white;
}

.tutor-container .toolbar-container .h-toolbar .h-button:hover {
	background-color: #EFEFEF;
}

.tutor-container .toolbar-container .h-toolbar .h-selected:hover {
	background-color: #EFEFEF;
}

.h-toolbar-separator {
	border-top: 1px solid #909090;
}

.h-button-top-left {
	border-top-left-radius: 5px;
}

.tutor-container .h-inbox-container {
	display: block;
	background-color: white;
	border: 1px solid #909090;
	border-top-width: 0px;
	padding: 10px;
	color: #808080;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 500px;
}

.tutor-container .h-inbox-container .compose-form {
	width: 80%;
	margin-left: 10%;
}

.tutor-container .h-inbox-container .h-post {
	display: block;
	//background-color: white;
	border-bottom: 2px dashed #EBEBEB;
	padding: 10px;
	color: #808080;
	font-size: 20px;
}

.tutor-container .h-inbox-container .h-post img {
	margin-right: 7px;
}

.tutor-container .h-inbox-container .h-post a:hover {
	color:#AFAFAF;
}

.tutor-container .h-inbox-container .h-dialogue-ticket {
	border: 2px solid #EFEFEF;
	padding: 5px;
}

.tutor-container .h-inbox-container .h-dialogue-tool {
	text-align: center;
	font-size: 20px;
	color: #6A9F06;
	color: #5084A7;
	color: orange;
}

.h-dialogue-green {
	color: #6A9F06 !important;
	font-weight: bold;
}
.tutor-container .h-inbox-container .h-dialogue-message {
	margin-left: 15px;
	font-size: 17px;
	margin-top: 15px;
}

.tutor-container .h-inbox-container .h-dialogue-detail {
	font-size: 11px;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 3px;
}

.tutor-container .h-inbox-container .h-dialogue-detail .name-detail{
	color: #5084A7;
}
.tutor-container .h-inbox-container .h-dialogue-ticket .question {
	font-size: 25px;
	margin-left: 30px;
	color: #909090;
	color: orange;
	color: #6A9F06;

}

.tutor-container .h-inbox-container .h-dialogue-ticket .body {
	color: #909090;
	margin-top: 10px;
	font-size: 19px;
}

.tutor-container .h-inbox-container .h-dialogue-ticket img {
	width: 24px;
	height: 24px;
	float: left;
}
