.comment-surround ul {

	margin: 0px;
	padding: 0px;
}
.comment-surround li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.comment-item {
	margin-top: 15px;
	color: #808080;
	overflow: auto;
}

hr {
	border-color: #d8d8d8;
}

.comment-item .header {
	float: left;
	clear: left;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 0px solid #808080;
	padding: 5px;
	border-radius: 3px;
	width: 120px;
	word-wrap: break-word;
}


.comment-item .child-header {
	float: left;
	clear: left;
	text-align: center;
	overflow: auto;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 0px solid #808080;
	padding: 5px;
	border-radius: 3px;
	width: 100px;
	word-wrap: break-word;
}

.comment-item .header img {
	width: 64;
	height: 64;
	clear: left;
}


.comment-item .child-header img {
	width: 48;
	height: 48;
}

.comment-item .post {
	overflow: auto;
}

.comment-item .content {
	min-height: 72px;
	height: auto !important;
	height: 72px;
	border: 0px solid #d8d8d8;
	padding: 10px;
	border-radius: 5px;
	border-left: 1px solid #d8d8d8;
	margin-left: 127px;
	display: block;
	color: #3F3F3F;
}

.comment-item .child-content {
	margin-left: 107px;
}

.comment-item .post-details {
	clear: left;
	width: 200px;
	margin-left: 75px;
	overflow: auto;
}

.comment-item .child-details {
	margin-left: 60px;
}


.comment-item .post-details a {
	font-weight: bold;
	font-size: small;
}

.comment-surround {
	margin-left: 5px;
	border-left: 0px solid #d8d8d8;
	padding-top: 5px;
	overflow: auto;
	clear: left;
	padding-left: 50px;
}

.comment-item .tools {
	margin-left: 50px;
}

.comment-surround .child {
	margin-top: 30px;
}

.comment-reply {
	clear: left;
}

.reply-offset {
	margin-left: 75px;
}

.comment-reply-box {
	clear: left;
	margin-left: 75px;
}

.comment-surround .comment-reply-box {
	margin-left: 60px;
}

.comment-surround .reply-offset {
	margin-left: 60px;
}

