.metalcol-container {
	color: #808080;
}
.metalcol-button {
	background-image: url('APP-MEDIAkura/activity/button-grey.png');
	background-repeat: repeat-x;
	height: 65px;
	border: 1px solid #D8D8D8;
	border-bottom: white;
	padding: 5px;
	width: 250px;
	font-size: x-large;
	text-align: center;
}

.metalcol-button-smallheader {
	height: 25px
}
.metalcol-button-small {
	height: 20px;
	font-size: normal;
}

.metalcol-detail {
	border: 1px solid #D8D8D8;
	background-color: #FDF8F8;
	border-bottom: white;
	padding: 5px;
	width: 250px;
}

.metalcol-detail-blue {
	background-color: #EDF3EA;
/*	border-top-color: #A9B8C3;*/
}

.metalcol-detail-green {
	background-color: #EDFDCD;
/*	border-top-color: #B3DD63;*/
}
.metalcol-success {
	background-image: url('APP-MEDIAkura/activity/tick.png');
	width: 48px;
	height: 48px;
	margin-left: 101px;
	margin-top: 15px;
}

.metalcol-form-item {
	margin-top: 10px;
	margin-left: 10px;
}
.metalcol-form-text {
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	width: 200px;
	color: #808080;
}

.metalcol-form-item-sub {
	float: left;
	width: 100px;
}
.metalcol-form-text-small {
	width: 80px;
}

.metalcol-form-button {
	color: #808080;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	border-radius: 3px;
}

.metalcol-form-item select {
	margin-top: 3px;
	border: 1px solid #D8D8D8;
	background-color: white;
	color: #808080;
	border-radius: 3px;
	width: 200px;
}

.metalcol-label {
	vertical-align: middle;
	margin-top: 15px;
}
.metalcol-button-end {
	border: 1px solid #D8D8D8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.metalcol-button-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.metalcol-container a {
	text-decoration: none;
	color: #808080;
}

.metalcol-detail a {
	text-decoration: underline;
}

.kura-green {
	color: #3D8F23;
}

.manager-title {
	color: #7D9E05;
	font-size: large;
	width: 100%;
	border-bottom: 1px solid #B3DD63;
	margin-bottom: 20px;
	font-weight: bold;
}

.manager-area {
	color: #808080;
	margin-left: 15px;
}

.manager-area .a-light {
	color: #5084A7;
}

.manager-area .a-light:hover {
	color: #6FB2DF !important;
	text-decoration: none;
}

.manager-area .cat-title {
	color: #5084A7;
	font-size: x-large;
	margin-bottom: 5px;
}

.manager-area .mleft-15 {
	margin-left: 15px;
}

.managee-area .mtop-15 {
	margin-top: 15px;
}

.manager-area .mbottom-5 {
	margin-bottom: 5px;
}

.manager-area .separate {
	padding-left: 5px;
	border-bottom: 1px solid #D8D8D8;
}

.manager-area .separate-top {
	border-top: 1px solid #D8D8D8;
}

.manager-area .list-item {
	
}

.manager-area .centered {
	text-align: center;
	font-size: large;
}


.manager-clean {

}

.link-group {
	display: block;
}

.link-group .header {
	background-color: #5B802F;
	background-color: #7DAF41;
	background-color: #99A87D;
	background-color: #9F9F9F;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 1px;
	font-weight: bold;
	border: 0px solid #1D455F;
	border-color: #5B802F;
	text-align: center;
	border: 1px solid #5084A7;
	border-color: #5B802F;
	border-color: #6F6F6F;
}

.link-group .stack-container {
	border: 1px solid #5084A7;
	border-color: #5B802F;
	border-color: #6F6F6F;
	border-top-width: 0px;
	display: block;
	padding: 0px;
	padding: 2px;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #f0f0f0;
}

.link-group .item {
	background-color: none;
	color: #808080;
	font-weight: bold;
	border-bottom: 0px solid #565F41;
	border-color: #9EBF77;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #C6DFA7;
	background-color: #f0f0f0;
}

.link-group .item a {
	color: #565F41;
	color: #808080;
}

.link-group .item a:hover {
	color: #99A77A !important;
	text-decoration: none;
}
