.light-blue {
	color: #3B9EEF !important;
}

.font-orange {
	color: orange !important;
}

.record-section {
	border: 1px solid #D8D8D8;
	overflow: auto;
	color: #808080;
}

.record-sec-part {
	float: left;
	padding: 5px;
	overflow: auto;
	color: #808080;
}
.record-secq {
	font-size: xx-large;
	clear: left;
}

.record-sec-border {
	border-left: 1px solid #D8D8D8;
}


.record-sec-icon {
	float: right;
	margin-left: 30px;
}

