.bulletin-header {
	border: 0px solid #a9b8c3;
	background-color: none;
	/*background-image: url('APP-MEDIAkura/bulletin/blue-cork.png');*/
	padding: 5px;
	color: #94a1aa;
	font-size: xx-large;
	display: block;
	font-weight: bold;
	color: #909090;
	padding-left: 20px;
	color: #63819F;
}
/* width: 100%;*/

.bulletin-header-title-container {
	background-color: white;
	border-radius: 7px;
	background: rgba(255,255,255,0.4);
	border: 1px solid #a9b8c3;
	padding: 5px;
	display: block;
	background-color: none;
}

.bulletin-header-title {
}

.bulletin-container {
	display: block;
	background-color: #ECF2E9;
	background-color: #C3D4DF;
	border-radius: 5px;
	border: 1px solid #94A1AA;
	padding: 10px;
	padding-top: 0px;
	background-image: url('APP-MEDIAkura/bulletin/tree_bark.png');
	background-image: url('APP-MEDIAkura/bulletin/triangular.png');
	background-image: url('APP-MEDIAkura/bulletin/hoffman.png');
	background-image: url('APP-MEDIAkura/bulletin/textured_stripes.png');
	background-image: url('APP-MEDIAkura/bulletin/bl.png');
}
/* width: 100%;*/

.bulletin-container a {
	color: #94a1aa;
	font-weight: bold;
	color: #909090;
	color: #63819F;
	color: #83A1BF;
}

.bulletin-container a:hover {
	text-decoration: underline;
}
.bulletin-post {
	margin-top: 10px;
	display: block;
}
/* width: 100%;*/

.bulletin-title {
	font-weight: bold;
	padding: 4px;
	color: #808080;
	background-color: #EDF3EA;
	border: 1px solid #a9b8c3;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #94a1aa;
}
.bulletin-attachment-container {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border: 1px solid #D8D8D8;
	margin-top: 7px;
}

.bulletin-attachment {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 65px;
	min-height: 64px;
	-moz-box-sizing:padding-box;
	margin-bottom: 7px;
	margin-top: 7px;
}

.bulletin-attachment-separator {
	border-bottom: 1px solid #D8D8D8;
	margin-top: 5px;
}

.bulletin-attachment-icon {
	width: 64px;
	height: 64px;
	float: left;
}

.bulletin-attachment-icon img{
	width: 64px;
	height: 64px;
}
.bulletin-content {
	color: #808080;
	padding: 8px;
	background-color: #EFEFEF;
	margin: 10px;
	border: 1px solid #94A1AA;
	border-radius: 10px;
	background-color: #FFFABF;
	background-color: white;
}

.bulletin-attachment-container .detail {
	color: #808080;
	font-size: 12px;
}

.bulletin-attachment-embedded {
	text-align: center;
	background-color: #4F4F4F;
	padding: 10px;
	border: 1px solid #2F2F2F;
	margin-top: 7px;
}

.bulletin-icon {
	width: 100px;
	height: 100px;
	background-image: url('APP-MEDIAkura/bulletin/postit-light.png');
	margin-top: -80px;
	margin-left: 10px;
	background-size: 100px 100px;
}

.bulletin-compose {
	width: 88%;
	margin-left: 6%;
	border: 1px solid #94A1AA;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-width: 0px;
	background-color: #F3F3F3;
	padding-bottom: 2px;
}
.bulletin-compose-block {
	color: #808080;
	padding: 10px;
}
.bulletin-compose-tab {
	width: 30%;
	margin-left: 35%;
	
	margin-top: -1px;
	font-size: 15px;
	text-align: center;

	border: 1px solid #94A1AA;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-width: 0px;
	padding: 5px;
	background-color: #F3F3F3;
}

.bulletin-compose-tab a {
	color: #909090;
	font-weight: bold;
}

.bulletin-compose-tab a:hover {
	color: #BFBFBF;
	text-decoration: none;
}

.bulletin-error {
	color: white;
	font-size: 20px;
}

.bulletin-embed-expand {
	border: 1px solid #D8D8D8;
	margin-left: 45%;
	width: 10%;
	text-align: center;
	font-size: 10px;
	background-color: #F3F3F3;
	border-radius: 5px;
	color: #909090;
	font-weight: bold;
}

.bulletin-embed-expand:hover{
	color: #BFBFBF;
}

.bulletin-post-div {
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: right;
	float: right;
}

