/* (C)opyright 2014, Carrotsrc.org
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.ksteel-container {
	color: grey;
}
.ksteel-button {
	background-image: url('APP-MEDIAkura/activity/button-grey.png');
	background-repeat: repeat-x;
	height: 65px;
	border: 1px solid #D8D8D8;
	border-bottom: white;
	padding: 5px;
	width: 250px;
	font-size: x-large;
	text-align: center;
}

.ksteel-detail {
	border: 1px solid #D8D8D8;
	background-color: #FDF8F8;
	border-bottom: white;
	padding: 5px;
	width: 250px;
}

.ksteel-success {
	background-image: url('APP-MEDIAkura/activity/tick.png');
	width: 48px;
	height: 48px;
	margin-left: 101px;
	margin-top: 15px;
}

.ksteel-form-item {
	margin-top: 10px;
	margin-left: 10px;
}
.ksteel-form-text {
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	width: 200px;
	color: grey;
}

.ksteel-form-item-sub {
	float: left;
	width: 100px;
}
.ksteel-form-text-small {
	width: 80px;
}

.ksteel-form-button {
	color: grey;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	border-radius: 3px;
}

.ksteel-form-item select {
	margin-top: 3px;
	border: 1px solid #D8D8D8;
	background-color: white;
	color: grey;
	border-radius: 3px;
	width: 200px;
}

.ksteel-label {
	vertical-align: middle;
	margin-top: 15px;
}
.ksteel-button-end {
	border: 1px solid #D8D8D8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ksteel-button-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.ksteel-container a {
	text-decoration: none;
	color: grey;
}

.ksteel-detail a {
	text-decoration: underline;
}
