/* (C)opyright 2014, Carrotsrc.org
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.quizmanager {
	color: grey;
	width: 700px;
}

.quiz-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.quiz-header-title {
	border-bottom: 2px solid #D8D8D8;
	padding: 7px;
	font-size: large;
	color: #3FA1F1;
	font-weight: bold;
}

.quiz-item {
	border: 0px solid #D8D8D8;
	border-color: #3B9EEF;
	border-color: #B3D4EF;
	border-top-width: 0px;
	padding: 5px;
	background-color: white;
}

.quiz-tool {
	float: right;
	margin-right: 5px;
}

.question-normal {
	padding-left: 10px;
}

.question-title {
	border: 0px solid #D8D8D8;
	/*
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	*/
	padding: 7px;
	font-size: small;
	color: #3B9EEF;
	font-weight: bold;
	border-color: #3B9EEF;
	border-color: #B3D4EF;
	background-color: white;
	border-bottom: 1px solid #D8D8D8;
}

.question-area {
	margin: 15px;
	margin-top: 0px;
	border: 1px solid #D8D8D8;
	border-color: #3B9EEF;
	border-color: #B3D4EF;
	padding: 10px;
	border-radius: 0px;
	border-width: 0px;
//	background-color: #DFF2FF;

}

.question-edit {
	border: 2px dashed orange;
	border-left-width: 2px;
	border-right-width: 2px;
	overflow: auto;
	border-radius: 5px;
}
.question-gap {
	height: 7px;
	border-bottom: 0px solid #D8D8D8;
	margin-bottom: 7px;
}

.question-edit-bar {
	color: orange;
	border-bottom: 2px solid orange;
	padding: 5px;
	padding-top: 7px;
	font-weight: bold;
}

.question-edit-form {
	margin: 10px;
	margin-top: 7px;
}

.edit-button {
	background-color: orange;
	color: #8F5E00;
	//color: white;
	border-color: #BF7D00;
	font-weight: bold;
}

.orange-link {
	color: orange;
	font-weight: bold;
}

.orange-link:hover {
	text-decoration: underline !important;
}

.margin-form-reverse {
	margin-top: -12px;
}
