
.actman-container {
	color: grey;
}
.actman-button {
	background-image: url('APP-MEDIAkura/activity/button-grey.png');
	background-repeat: repeat-x;
	height: 65px;
	border: 1px solid #D8D8D8;
	border-bottom: white;
	padding: 5px;
	width: 250px;
	font-size: x-large;
	text-align: center;
}

.actman-detail {
	border: 1px solid #D8D8D8;
	background-color: #FDF8F8;
	border-bottom: white;
	padding: 5px;
	width: 250px;
}

.actman-success {
	background-image: url('APP-MEDIAkura/activity/tick.png');
	width: 48px;
	height: 48px;
	margin-left: 101px;
	margin-top: 15px;
}

.actman-form-item {
	margin-top: 10px;
	margin-left: 10px;
}
.actman-form-text {
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	width: 200px;
	color: grey;
}

.actman-form-item-sub {
	float: left;
	width: 100px;
}
.actman-form-text-small {
	width: 80px;
}

.actman-form-button {
	color: grey;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	border-radius: 3px;
}

.actman-form-item select {
	margin-top: 3px;
	border: 1px solid #D8D8D8;
	background-color: white;
	color: grey;
	border-radius: 3px;
	width: 200px;
}

.actman-label {
	vertical-align: middle;
	margin-top: 15px;
}
.actman-button-end {
	border: 1px solid #D8D8D8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.actman-button-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.actman-container a {
	text-decoration: none;
	color: grey;
}

.actman-detail a {
	text-decoration: underline;
}
