
.ui_actman_detail {
	border-left: 1px dashed #d8d8d8;
	margin-left: 10px;
	padding-left: 5px;
	overflow: auto;
	margin-bottom: 5px;
}

.ui_actman_detail_container {
	border-bottom: 1px solid #d8d8d8;
	margin-top: -5px;
	padding-top: 5px;
}

.ui_actman_detail_panel {
	margin: 15px;
	margin-left: 5px;
}

.ui_actman_assoc_list {
	margin-left: 25px;
	margin-top: 7px;
	margin-bottom: 7px;
	color: #808080;
}


.ui_actman_assoc_list .toolbar{
	margin-top: 7px;
	margin-bottom: 7px;
}

.ui_actman_assoc_list .item .tool{
	margin-right: 7px;
}
