.record-queue {
	color: grey;
	color: #7D9E05;
}

.record-queue .title {
	color: #7D9E05;
	font-size: large;
	width: 100%;
	border-bottom: 1px solid #B3DD63;
}

.record-queue .content {
	margin: 10px;
	margin-top: 20px;
	border: 1px solid #D8D8D8;
	background-color: #D8D8D8;
	border-radius: 5px;
	padding: 1px;
}

.record-queue table {
	color: #7D9E05;
	text-align: center;
	border: 0px solid #D8D8D8;
	padding: 0px;
	border-collapse: collapse;
	border-radius: 5px;
}


.record-queue table .title {
//	font-weight: bold;
	font-size: normal;
	color: #659a00;
	border-bottom: 2px solid #D8D8D8;
	background-color: #E2E0E0;
	color: grey;
	background-image: url('APP-MEDIAkura/record-keeper/grey-grad.png');
}
.record-queue table td{
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px;
	min-width: 100px;
}

.record-queue table .content-row {
	color: #7D9F3B;
	color: #5084A7;
	margin: 0px;
	padding: 0px;
	font-size: x-large;
	background-color: #F1F1F1;
	border-top: 2px dashed #d8d8d8;
}

.record-queue table .content-row a {
	color: #6FB2DF;
	color: #5084A7;
}


.record-queue table .content-row a:hover {
	color: #6FB2DF !important;
	text-decoration: none;
}
.record-queue table .content-alt {
	background-color: #FBF6F6;
}


