.mntinbox-container {
	color: #909090;
	background-color: #edf6e3;
	background-color: #ebebeb;
	border: 1px solid #909090;
	min-height: 300px;
}
.mntinbox-container .sidebar {
	width: 170px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	border: 0px solid #909090;
}

.mntinbox-container .sidebar .item {
	text-align: center;
	padding: 5px;
	background-color: #dfdfdf;
	border-bottom: 1px solid #909090;
	cursor: pointer;
}

.mntinbox-container .sidebar .mentor-list {
	margin-top: 15px;
	text-align: center;
}

.mntinbox-container .sidebar .mentor-list img {
	width: 64px;
	height: 64px;
	margin-top: 10px;
	border: 1px solid #909090;
	clear: both;
}

.mntinbox-container .sidebar .item a {
	text-decoration: none;
	color: inherit;
}

.mntinbox-container .sidebar .item:hover {
	background-color: #efefef;
}

.mntinbox-container .inbox {
	margin-left: 171px;
	display: block;
	border-left: 1px solid #909090;
	min-height: 300px;
}

.mntinbox-container .inbox .table {
	padding: 10px;
}

.mntinbox-container .inbox .table .message {
	display: block;
	background-color: white;
	border: 2px solid #d8d8d8;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.sp-dark-blue {
	color: #5084A7;
}
.mntinbox-container .inbox .table .message .subject {
	color: #5084A7;
	font-size: 22px;
}
.mntinbox-container .inbox .table .replies {
	border: 0px solid #d8d8d8;
	padding: 10px;
}

.mntinbox-container .inbox .table .reply {
	border-bottom: 1px solid #d8d8d8;
	padding: 5px;
	color: #8f8f8f;
}

.mntinbox-container .inbox .table .reply .detail {
	font-size: 13px;
	margin-top: 5px;
	color: #909090;
}

.mntinbox-container .inbox a{
	color: #5084A7;
	text-decoration: none;
}

.mntinbox-container .inbox a:hover{
	text-decoration: underline;
}

.mntinbox-container .inbox .group {
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
	color: #909090;
	text-align: center;
}

.mntinbox-container .inbox .table .message .content {
	margin-top: 15px;
	color: #8f8f8f;
}

.mntinbox-container .inbox .composer {
	width: 100%;
}
