body {
font-family:Ubuntu, Verdana, sans-serif;
margin: 0px;
background-image: url('APP-MEDIAkroot/ticks.png');

}

a img {
	border-width: 0px;
}
#kr-header {
	width: 100%;
	height: 22px;
	margin-bottom: 10px;
	color: #659A00;
	font-weight: bold;
	font-size: small;
}

#kr-header.imagebg {
	background-image: url('APP-MEDIAkroot/grad-green.png');
	background-repeat: repeat-x;
}

#kr-header.solidbg {
	background-color: #9BED00;
	border-bottom: 1px solid #5BC72D;
	background-image: url('APP-MEDIAkroot/bg.png');
}

#kr-header.solidbg2 {
	background-color: C7F66F;
	border-bottom: 2px solid #B5F63E;
	border-bottom: 2px solid #B3DD63;
	background-repeat: repeat;
}
#kr-title {
	padding: 3px;
	float: left:
}

#kr-version{
	float: right;
	padding: 3px;
	font-size: x-small;
}

#kr-layout-container {
	width: 86%;
	margin-left: 7%;
	background: none;
	overflow: auto;
	height: auto !important;
	border-radius: 15px;
	min-height: 500px;
	border: 0px solid #808080;
	float: left;
}

#kr-layout-column {
	width: 86%;
	margin-left: 7%;
	background: white;
	height: auto !important;
	border-radius: 15px;
	min-height: 500px;
	border: 1px solid #808080;
	float: left;
	clear: left;
}

#kr-layout-block {
	width: 70%;
	margin-left: 15%;
	background: white;
	height: auto !important;
	min-height: 500px;
	border: 1px solid #808080;
	float: left;
	clear: left;
	display: inline;
}

.vform-text {
	border-radius: 5px;
	border: 2px solid #D8D8D8;
	color: #808080;
	padding: 3px;
	background-color: white;
}

.vform-text-disabled {
	background-color: inherit;
}

.vform-select {
	padding: 0px;
	padding-left: 3px;
}

.vform-button {
	color: #808080;
	border-bottom: 0px solid #808080;
	border-right: 0px solid #808080;
	background-color: #FDF8F8;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}

.vform-item {
	margin-top: 7px;
}

.vform-item-spacer {
	margin-top: 10px;
}

.vfont-small {
	font-size: small;
}

.vfont-large {
	font-size: large;
}

.vfont-x-large {
	font-size: x-large;
}

.vfont-xx-large {
	font-size: xx-large;
}

.vfont-small {
	font-size: 13px;
}

.vfont-x-small {
	font-size: 10px;
}

.vfont-xx-small {
	font-size: 8px;
}

.vfont-normal {
	font-size: 15px;
}

.vfont-green {
	color: #3D8F23;
}

.vfont-grey {
	color: #808080;
}

.vfont-lblue {
	color: #3FA1F1;
}

.vfloat-left {
	float: left;
}

.vfloat-right {
	float: right;
}

/* UI */

.vpanel-grey {
	color: #808080;
	background-color: #FDF8F8;
	border: 3px solid #D8D8D8;
	border-radius: 5px;

	padding: 10px;
}

.vpanel-metallic-top {
	background-image: url('APP-MEDIAkroot/dl-grey.png');
	background-repeat: repeat-x;
}

.vpanel-green {
	color: #659A00;
	background-color:#C7F66F; 
	border: 3px solid #B3DD63;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}

.vpanel-ligreen {
	background-color: #ddf9a8; 
	//border-color: #c7f66f;
}

.ld-green-s {
	background-image: url('APP-MEDIAkroot/ld-green-30.png');
	background-repeat: repeat-x;
}

.vpanel-grey-listbox {
	color: #808080;
	background-color: white;
	border: 2px solid #D8D8D8;
	border-radius: 5px;
	padding: 3px;
}

a {
	color: orange;
	color: #ffc04c;
	color: #94A1AA;
}

a:hover {
	text-decoration: underline;
}

.va-switch {
	text-decoration: none !important;
}

.va-switch :hover {
	text-decoration: underline;
}

.va-blue {
	color: #5084A7 !important;
}

.rbin-container {
	color: #7D9E05;
	border: 3px dashed #B3DD63;
	border-radius: 5px;
	padding: 5px;
	overflow: auto;
}

.rbin-resource {
	background-color: #EDF3EA;
	border-radius: 3px;
	color: #808080;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	padding: 3px;
	border: 1px solid #C0C2BF;
}

.vdiv-auto-overflow {
	overflow: auto;
}

.vdiv-clear-left {
	clear: left;
}

