.profile {
	color: #808080;
}

.profile .header {
color: white;
height: 100px;
width: 100%;
}

.profile .header .photo {
	border-top-left-radius: 8px;
	background-color: white;
	float: left;
	border: 1px solid #4F6F29;
	border-color: #5b802f;
	padding: 5px;
	height: 100px;

	box-sizing:padding-box;
	-moz-box-sizing:padding-box;
	-webkit-box-sizing:padding-box;
}
.profile .header img {
	width: 64px;
	height: 64px;
}

.profile .header .details {
	border-top-right-radius: 8px;
	height: 100px;
	padding: 15px;
	border: 1px solid #5b802f;
	margin-left: 15px;
	font-size: 30px;
	font-weight: bold;
	background-image: url('APP-MEDIAkura/profile/headers/green-leaves.png');
	margin-left: 94px;
	
	box-sizing:padding-box;
	-moz-box-sizing:padding-box;
	-webkit-box-sizing:padding-box;
}

.profile .shadow {
	-moz-box-shadow:    3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	box-shadow:         3px 3px 5px 3px #ccc;
}

.profile .content {
	margin-top: 25px;
	background-color: white;
	border: 2px solid #2FA8D0;
	border: 1px solid #808080;
	border-color: #5084A7;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 15px;
	border-color: #5b802f;
	border-color: #808080;
	min-height: 500px;
}

.profile .no-radius {
	border-radius: 0px;
}

.profile .section-title {
	font-weight: bold;
	border-bottom: 1px solid #808080;
	margin-bottom: 15px;
}

.profile .edit-button {
	float: right;
	margin-right: 8px;
	font-weight: bold;
	text-align: center;
}

.profile .edit-button a {
	color: #808080;
	font-weight: bold;
	text-decoration: none;
}
.profile .edit-button a:hover {
	color: orange;
}

.profile .button-on {
	color: orange;
}
.profile .button-on a {
	color: orange;
	font-weight: bold;
	text-decoration: none;
}
.profile .button-on a:hover {
	color: #808080;
}

.profile .section {

}
