#nv-respool {
	display: table;
}

.nv-cell {
	vertical-align: middle;

	border-width: 2px;
	border-radius: 5px;
	border-style: solid;

	font-size: x-large;
	font-weight: bold;

	padding: 5px;
	/*width: 100px;*/
	margin: 5px;

	min-height: 50px;
	float: left;
	text-align: center;
}

.nv-cell-label {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 50px;
	clear: left;
}

.nv-cell-label a {
	text-decoration: underline;
	color: red;
	font-size: small;
}

.button-big a {
	text-decoration: none;
	color: blue;
	font-size: x-large;
}
.nv-context {
	border: 2px dashed green;
	color: green;
}

.nv-type {
	border: 2px solid grey;
	color: grey;
	width: 100px;
	font-size: small;
	height: 20px;
}
.nv-type a {
	color: grey;
	text-decoration: underline;
}

.nv-anchor {

}

.nv-node {
	border: 2px dashed blue;
	color: blue;
}

.nv-resource {
	border-color: blue;
	color: blue;
	left: 50px;
}

.nv-cell-noleft {
	clear: left;
}

.nv-panel-container {
	font-size: small;
	border-width: 1px;
	text-align: left;
	font-weight: normal;
	overflow: auto;
	float: none;
}

.nv-table {
	font-size: small;
	border-spacing: 0px;
}

.nv-details {
	float: left;
	clear: left;
	margin-right: 50px;
	width: 130px;
	padding: 5px;
}

.nv-side {
	float: left;
	border-left: 1px grey dashed;
	padding: 5px;
	color: grey;
}
.nv-side a {
	color: grey;
	text-decoration: underline;
}
